<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/cmsuploads/compressed/mountain-3092438_960_720_20190313095203.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Manali</h5>
                          <p class="card-text">One of the most popular hill stations in Himachal, Manali offers the most magnificent views of the Pir Panjal and the Dhauladhar ranges covered with snow for most parts of the year.  </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>





                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/cmsuploads/compressed/3083605208_a2988fbe20_z_20190315143304.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Andaman</h5>
                          <p class="card-text"> Replete with turquoise blue water beaches and a bit of history, Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of mainland India. Port Blair, the capital of this union territory, has a major airport and seaport connected </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>






                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/SRI-LANKA.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Srilanka</h5>
                          <p class="card-text">Sri Lanka is an island nation located in the Indian Ocean known for its spectacular beaches, thousand-year-old Buddhist temples, an abundance of wildlife, and rich archaeological history.  </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>









                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/GOA.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Goa</h5>
                          <p class="card-text"> Lying on the western coast, Goa is India's smallest state and unlike any other, known for its endless beaches, stellar nightlife, eclectic seafood, world-heritage listed architecture. Spread across just 3,702 km, Goa lies in the Konkan region. </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/cmsuploads/compressed/40758608040_867c885426_b_20190708110603.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lakshwadeep</h5>
                          <p class="card-text">Formerly known as Laccadive Islands, Lakshadweep translates to 'one hundred thousand islands' in Malayalam. Home to a few of the most beautiful and exotic islands and beaches of India, Lakshadweep lies 400km off the southwest coast of the Arabian Sea. The smallest union territory of India </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>




                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/SRINAGAR.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Srinagar</h5>
                          <p class="card-text">Famously known as 'Heaven on Earth, Srinagar is located in the union territory of Jammu & Kashmir, on the banks of river Jhelum. Srinagar is known for the stationary houseboats and gondola-type rowboats- Shikaras on Dal Lake. Adorned with tranquil Dal Lake & Nigeen Lake </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/DARJEELING.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Darjeeling</h5>
                          <p class="card-text">The previous summer capital of India under the British Raj, Darjeeling has come off age as one of the most sought after hill stations in India. Located in West Bengal, this scenic hill station is the perfect getaway for a romantic honeymoon. Nestled amidst acres of tea plantations, </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/NAINITAL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Nainital</h5>
                          <p class="card-text"> Nainital is a charming hill station located at the foothills of the Kumaon ranges in Uttarakhand. Located close to Dehradun and Delhi, it is the most visited hill station in North India. Nainital is a perfect weekend getaway from Delhi and the nearby places.</p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/compressed/1910.jpg?v=1.1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Shimla</h5>
                          <p class="card-text">Shimla is the capital of Himachal Pradesh and a popular hill-station among Indian families and honeymooners. Situated at the height of 2200m, Shimla was the summer capital of British India. Shimla still retains its old-world charm with beautiful colonial architecture </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>



                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.holidify.com/images/bgImages/MUSSOORIE.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mussoorie</h5>
                          <p class="card-text">Mussoorie is one of the most popular hill stations located at a distance of 290 km from Delhi in the Dehradun district of Uttarakhand. With a backdrop of the Shivalik range of Himalayas and doon valley, Mussoorie, also known as Queen of The Hills </p>
                          <a href="#" class="btn btn-primary">View Package</a>
                        </div>
                      </div>









                </div>
            </div>









        </div>
    </div>
</div>




